.district-container{
    width: 18rem;
    background-color: rgb(251, 245, 255);
}
.district-container img{
    width: 500px;
    height: 150px;
}
.card-body button:hover{
    background-color: red;
    
}
.card-body button:hover .icons{
    color: rgb(71, 231, 71);
}
.background{
    background-image: linear-gradient(to right, rgb(156, 245, 163), rgb(231, 163, 151),rgb(173, 255, 179));;
}

.icons{
    color: goldenrod;
}
.fab{
    font-size: 25px;
    font-weight: 700;
}

.fa-facebook-square{
    color: #3b5998;
    margin-right: 10px;
}
.fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
}
.fa-twitter{
    color: #1DA1F2;
    margin-left: 10px;
}