.district-container{
    width: 18rem;
    background-color: rgb(251, 245, 255);
}
.district-container img{
    width: 500px;
    height: 150px;
}
.card-body button:hover{
    background-color: red;
    
}
.card-body button:hover .icons{
    color: rgb(71, 231, 71);
}
.background{
    background-image: linear-gradient(to right, rgb(156, 245, 163), rgb(231, 163, 151),rgb(173, 255, 179));;
}

.icons{
    color: goldenrod;
}
